.Information {
    background-color: #4e3b30;
    padding-bottom: 10px;
}

.information-menu-top-bar {
    height: 10%;
    width: 100%;
    background-color: #f1a640;
    position: relative;
    display: flex;
    align-items: center;
}

.information-menu-top-bar-left, .information-menu-top-bar-right {
    display: inline;
    flex: 1;
}

.information-menu-top-bar-icon {
    display: inline;
    vertical-align: middle;
}

.information-menu-top-bar-icon-text {
    display: inline;
    vertical-align: middle;
}

.information-menu-top-bar-text {
    display: inline;
}

.information-menu-header {
    color: #f1a640;
    margin-left: 10px;
}

.information-menu-text {
    background-color: #f8f7e2;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}