.Question {
    background-color: #f8f7e2;
}

.question-menu-top-bar {
    height: 10%;
    width: 100%;
    background-color: #f1a640;
    position: relative;
    display: flex;
    align-items: center;
}

.question-menu-top-bar-left, .question-menu-top-bar-right {
    display: inline;
    flex: 1;
}

.question-menu-top-bar-icon {
    display: inline;
    vertical-align: middle;
}

.question-menu-top-bar-icon-text {
    display: inline;
    vertical-align: middle;
}

.question-menu-top-bar-text {
    display: inline;
}

.question-menu-body {
}

.question-menu-header {
    margin: 10px;
    color: #f1a640;
}
img {
    margin-left: 10px;
}

.question-menu-text {
    margin-left: 10px;
}