.Quiz {
    background-color: #4e3b30;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quiz-menu-top-bar {
    height: 10%;
    width: 100%;
    background-color: #f1a640;
    position: relative;
    display: flex;
    align-items: center;
}

.quiz-menu-top-bar-left, .quiz-menu-top-bar-right {
    display: inline;
    flex: 1;
}

.quiz-menu-top-bar-icon {
    display: inline;
    vertical-align: middle;
}

.quiz-menu-top-bar-icon-text {
    display: inline;
    vertical-align: middle;
}

.quiz-menu-top-bar-text {
    display: inline;
}

.quiz-menu {
    background-color: #f8f7e2;
    text-align: center;
    height: 100%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    flex: 1;
}

.quiz-menu-question-body {
    flex: 1;
}

.quiz-menu-question {
    margin-top: 10%;
    margin-bottom: 10%;
}

.question-menu-answer {
    display: inline-block;
}

.quiz-button-body {
    display: inline-block;
}

.change-question-body {
    /* display: inline-block;
    width: 50%; */
    flex: 1;
}

.quiz-menu-change-question-button h4{
    width: 50%;
}

.quiz-menu-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quiz-menu-answer-button {
    display: inline-block;
    width: 30%;
}

.quiz-menu-bottom-bar {
    display: flex;
}

.quiz-menu-answered-all {
    
}

.quiz-menu-answered-all > h2 {
    color: #4e3b30;
} 

.quiz-menu-answered-all >img {
    width: 500px;
    margin-bottom: 20px;
}